@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MoneygraphyPixel';
  src: url('/fonts/Moneygraphy-Pixel.woff2') format('woff2'),
       url('/fonts/Moneygraphy-Pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MoneygraphyRounded';
  src: url('/fonts/Moneygraphy-Rounded.woff2') format('woff2'),
       url('/fonts/Moneygraphy-Rounded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MoneygraphyRounded', sans-serif;
}

@source inline("{hover:,focus:,}z-[9999] bg-black bg-opacity-60 bg-white text-black rounded-xl p-6 max-w-sm text-lg font-bold mb-4 text-sm mt-4 bg-blue-500 px-4 py-2");